<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="7" class="elementor elementor-7" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="aa4b9aa" class="elementor-element elementor-element-aa4b9aa elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" id="section01" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
          <div class="elementor-background-overlay"></div>
          <div class="elementor-container elementor-column-gap-default" style="padding:200px 0px">
            <div class="elementor-row" style="display:initial;">
              <div data-id="fa23626" class="elementor-element elementor-element-fa23626 elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="0cb2572" class="elementor-element elementor-element-0cb2572 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="positioning-content">
                            <i class="fa fa-check" aria-hidden="true" style="border: 2px solid #3ec352;font-size: 80px;color: #3ec352;border-radius: 50%;padding: 25px;margin: 25px;"></i>

                            <h1 style="color:#3ec352;">Thank You</h1>
                            <p style="color:#fff;"><b style="font-weight: 500;">A representative will be reaching out to you shortly</b></p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>  
      </div>
    </div>
  </div>
</div>
