<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="36" class="elementor elementor-36" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="f9327aa" class="elementor-element elementor-element-f9327aa elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="2f7849a" class="elementor-element elementor-element-2f7849a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="d842580" class="elementor-element elementor-element-d842580 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="about-us-title">
                          <h1>CUTTING EDGE DIGITAL MARKETING & BRANDING SOLUTIONS</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section data-id="dd5da6d" class="elementor-element elementor-element-dd5da6d our-clients-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="b49afaf" class="elementor-element elementor-element-b49afaf elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="015ffe5" class="elementor-element elementor-element-015ffe5 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="our-clients">
                          <h2>We are not an average SEO company. We are a team of designers, digital marketers, data scientists and artificial intelligence experts.</h2>
                        </div>
                      </div>
                    </div>
                    <div data-id="0269457" class="elementor-element elementor-element-0269457 elementor-widget elementor-widget-shortcode" data-element_type="shortcode.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-shortcode">
                          <div class='white' style='background:rgb(255, 255, 255); border:solid 0px #f0f0f0; border-radius:0px; padding:0px 0px 0px 0px;'>
                              
                              

                              <ngx-slick-carousel class="carousel" 
                                                  #slickModal="slick-carousel"
                                                  [config]="slideConfig"
                                                  (init)="slickInit($event)">
                                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                  <div class="sa_hover_container" id='{{slide.slide_id}}'>
                                  <div class="newyork-times">
                                    <div class="newyork-times-img"><img class="alignnone  wp-image-1136" src="{{slide.image1}}" alt="" width="235" height="36" sizes="(max-width: 235px) 100vw, 235px" /></div>
                                    <p>"{{slide.para1}}"</p>
                                  </div>
                                  <div class="newyork-times newyork-times02">
                                    <div class="newyork-times-img"><img class="alignnone  wp-image-1137" src="{{slide.image2}}" alt="" width="191" height="47" /></div>
                                    <p>"{{slide.para2}}"</p>
                                  </div>
                                    </div>
                                </div>
                              </ngx-slick-carousel>


                           
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <section data-id="21fb93b" class="elementor-element elementor-element-21fb93b elementor-section-stretched about-main-tabbar elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="f5a0288" class="elementor-element elementor-element-f5a0288 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <section data-id="0f354ee" class="elementor-element elementor-element-0f354ee elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="f7fbd7d" class="elementor-element elementor-element-f7fbd7d elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="157ed80" class="elementor-element elementor-element-157ed80 elementor-widget elementor-widget-html" data-element_type="html.default">
                                  <div class="elementor-widget-container">
                                    <div class="dolor-sit">
                                      <h3>International</h3>
                                      <p>We are a UK SEO & Branding Agency but our team proudly spans the UK, Europe, Asia, North America and Russia. We don't believe in limiting ourselves with borders. We hire the best, no matter where they happen to be.</p>
                                      <h3>Not Your Average Team</h3>
                                      <p> Our team consists of SEO experts, designers, branding specialists, senior developers, data scientists and AI experts. We are no average team.</p>
                                      <h3>A Focus on R&D and Technology</h3>
                                      <p>We are continually developing new strategies through the development of technology. Our large client base continually benefits from the our research and close partnerships with Search Engines.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section data-id="2a06261" class="elementor-element elementor-element-2a06261 elementor-section-full_width tab-img-main elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="456e036" class="elementor-element elementor-element-456e036 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="8734ea7" class="elementor-element elementor-element-8734ea7 elementor-widget elementor-widget-image" data-element_type="image.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-image">
                                      <img width="702" height="551" src="https://www.reposition.co.uk/wp-content/uploads/2018/12/tab-img.png" class="attachment-large size-large" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2018/12/tab-img.png 778w, https://www.reposition.co.uk/wp-content/uploads/2018/12/tab-img-300x236.png 300w, https://www.reposition.co.uk/wp-content/uploads/2018/12/tab-img-768x603.png 768w" sizes="(max-width: 702px) 100vw, 702px" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="49167e7" class="elementor-element elementor-element-49167e7 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="e34a2fe" class="elementor-element elementor-element-e34a2fe elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="e13a151" class="elementor-element elementor-element-e13a151 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="our-clients us-apart-main">
                          <h2>What sets us apart</h2>
                        </div>
                      </div>
                    </div>
                    <section data-id="6272bb3" class="elementor-element elementor-element-6272bb3 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="36e61f0" class="elementor-element elementor-element-36e61f0 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="212e375" class="elementor-element elementor-element-212e375 elementor-widget elementor-widget-html" data-element_type="html.default">
                                  <div class="elementor-widget-container">
                                    <div class="purse-tried">
                                      <ul>
                                        <li>
                                          <a href="#">
                                            <span>
                                              <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/apart-pic01.png" alt="apart-pic">
                                            </span><h2>Handcrafted websites</h2><p>Our endlessly creative team builds some of the best sites in the business, delivering unique quality to every one of our clients.</p>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <span>
                                              <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/apart-pic02.png" alt="apart-pic">
                                            </span><h2>Stronger Keyword Strategy</h2><p>Our research uncovers keyword options people are using every day to help better push your company to the top of the rankings.</p>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <span>
                                              <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/apart-pic03.png" alt="apart-pic">
                                            </span><h2>An Affordable Boost</h2><p>ROI should be everything on each marketing endeavour you undertake, and we work to make it a priority with our results.</p>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <span>
                                              <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/apart-pic01.png" alt="apart-pic">
                                            </span><h2>Industry Authority</h2><p>Customers and search engines need to trust your company, and our designs, content, and optimisation practices can make that happen.</p>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <span>
                                              <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/apart-pic02.png" alt="apart-pic">
                                            </span><h2>Powerful Content</h2><p>Our content can help make your company more visible no matter what the industry. We create distinctive, sharable choices customers love.</p>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <span>
                                              <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/apart-pic03.png" alt="apart-pic">
                                            </span><h2>Beyond Search</h2><p>We're far more than an optimisation company that puts you at the top of the rankings. Instead, we're a full service digital marketing company ready to make you an industry giant.</p>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section data-id="1b575f3" class="elementor-element elementor-element-1b575f3 elementor-section-stretched happy-client-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="55598c7" class="elementor-element elementor-element-55598c7 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="d3f7ada" class="elementor-element elementor-element-d3f7ada elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="our-clients us-apart-main">
                          <h3>93% of online experiences begin with a search engine. Make sure customers can find you.</h3>
                          <h2>Our happy clients</h2>
                          <p>Here is a list of a few of our clients!</p>
                        </div>
                      </div>
                    </div>
                    <section data-id="71ef8ce" class="elementor-element elementor-element-71ef8ce spanser-main-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="f9f0f47" class="elementor-element elementor-element-f9f0f47 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="ec3efc1" class="elementor-element elementor-element-ec3efc1 spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-image">
                                      <a href="#" data-elementor-open-lightbox="">
                                        <img width="176" height="38" src="https://www.reposition.co.uk/wp-content/uploads/2018/12/sponser-pic01.png" class="attachment-large size-large" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-id="427a07a" class="elementor-element elementor-element-427a07a elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="061d61b" class="elementor-element elementor-element-061d61b spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-image">
                                      <a href="#" data-elementor-open-lightbox="">
                                        <img width="120" height="83" src="https://www.reposition.co.uk/wp-content/uploads/2018/12/sponser-pic02.png" class="attachment-large size-large" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-id="dc86812" class="elementor-element elementor-element-dc86812 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="dec01e5" class="elementor-element elementor-element-dec01e5 spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-image">
                                      <a href="#" data-elementor-open-lightbox="">
                                        <img width="120" height="85" src="https://www.reposition.co.uk/wp-content/uploads/2018/12/sponser-pic03.png" class="attachment-large size-large" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-id="8377ca2" class="elementor-element elementor-element-8377ca2 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="17e52e8" class="elementor-element elementor-element-17e52e8 spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-image">
                                      <a href="#" data-elementor-open-lightbox="">
                                        <img width="120" height="52" src="https://www.reposition.co.uk/wp-content/uploads/2018/12/sponser-pic04.png" class="attachment-large size-large" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>




      </div>
    </div>
  </div>
</div>
