<div class="footer-widgets" id="genesis-footer-widgets">
  <h2 class="genesis-sidebar-title screen-reader-text">Footer</h2>
  <div class="wrap">
    <div class="widget-area footer-widgets-1 footer-widget-area">
      <section id="custom_html-2" class="widget_text widget widget_custom_html">
        <div class="widget_text widget-wrap">
          <div class="textwidget custom-html-widget">
            <div class="footer-services footer-industries">
              <h2>Industries</h2>
              <ul>
                <li><a href="#">Construction</a></li>
                <li><a href="#">Consumer Services </a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Industrial</a></li>
                <li><a href="#">Medical</a></li>
                <li><a href="#">Professional Services</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Travel & Hospitality</a></li>
                <li><a href="#">Franchise</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="widget-area footer-widgets-2 footer-widget-area">
      <section id="custom_html-4" class="widget_text widget widget_custom_html">
        <div class="widget_text widget-wrap">
          <div class="textwidget custom-html-widget">
            <div class="footer-services">
              <h2>Services</h2>
              <ul>
                <li><a href="#">Online Prescence Audit </a></li>
                <li><a href="#">Search Engine Optimisation </a></li>
                <li><a href="branding/index.html">Branding</a></li>
                <li><a href="conversion-rate-optimisation/index.html">Conversion Rate Optimisation</a></li>
                <li><a href="social-media-marketing/index.html">Social Media Marketing </a></li>
                <li><a href="email-marketing/index.html">Email Marketing</a></li>
                <li><a href="pay-per-click-management/index.html">Pay Per Click</a></li>
                <li><a href="content-marketing-services/index.html">Content Marketing </a></li>
                <li><a href="local-seo-services/index.html">Local SEO</a></li>
                <li><a href="#">Map Search Optimisation</a></li>
                <li><a href="#">Link Building & Content</a></li>
                <li><a href="web-design-services/index.html">Website Design</a></li>
                <li><a href="web-development-services/index.html">Web Development</a></li>
                <li><a href="mobile-marketing-services/index.html">Mobile Marketing </a></li>
                <li><a href="digital-consultancy-services/index.html">Digital Consultancy</a></li>
                <li><a href="reputation-management-services/index.html">Reputation Management</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="widget-area footer-widgets-3 footer-widget-area">
      <section id="text-2" class="widget widget_text">
        <div class="widget-wrap">
          <h3 class="widgettitle widget-title">Get in touch</h3>
          <div class="textwidget">
            <div role="form" class="wpcf7" id="wpcf7-f1110-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="https://www.reposition.co.uk/#wpcf7-f1110-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="1110" />
                  <input type="hidden" name="_wpcf7_version" value="5.1.1" />
                  <input type="hidden" name="_wpcf7_locale" value="en_US" />
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1110-o1" />
                  <input type="hidden" name="_wpcf7_container_post" value="0" />
                  <input type="hidden" name="g-recaptcha-response" value="" />
                </div>
                <div style="width: 50%;float: left;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap Name">
                      <input type="text" name="Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required text-field" aria-required="true" aria-invalid="false" placeholder="Name" />
                    </span>
                  </label>
                </div>
                <div style=" width: 50%;float: right;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap CompanyName">
                      <input type="text" name="CompanyName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required text-field" aria-required="true" aria-invalid="false" placeholder="Company Name" />
                    </span>
                  </label>
                </div>
                <div style="width: 50%;float: left;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap email">
                      <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email text-field" aria-required="true" aria-invalid="false" placeholder="Email" />
                    </span>
                  </label>
                </div>
                <div style=" width: 40%;float: right;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap PhoneNumber">
                      <input type="tel" name="PhoneNumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel text-field" aria-required="true" aria-invalid="false" placeholder="Phone Number" />
                    </span>
                  </label>
                </div>
                <div style=" width: 10%;float: right;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap countrycode">
                      <select name="countrycode" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required select-field" aria-required="true" aria-invalid="false">
                        <option value="">
                          ---
                        </option>
                        <option value="+91">
                          +91
                        </option>
                        <option value="+92">
                          +92
                        </option>
                      </select>
                    </span>
                  </label>
                </div>
                <div style="width: 50%;float: left;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap ServiceDesired">
                      <select name="ServiceDesired" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required select-field" aria-required="true" aria-invalid="false">
                        <option value="Service Desired">
                          Service Desired
                        </option>
                        <option value="Online Presence &amp; SEO Audit">
                          Online Presence &amp; SEO Audit
                        </option>
                        <option value="SEO Services">
                          SEO Services
                        </option>
                        <option value="Local Seo Services">
                          Local Seo Services
                        </option>
                        <option value="Ecommerce Seo Services">
                          Ecommerce Seo Services
                        </option>
                        <option value="Link Building Services">
                          Link Building Services
                        </option>
                        <option value="Content Marketing Services">
                          Content Marketing Services
                        </option>
                        <option value="Specialized SEO Services">
                          Specialized SEO Services
                        </option>
                        <option value="PPC">
                          PPC
                        </option>
                        <option value="Branding">
                          Branding
                        </option>
                        <option value="Design">
                          Design
                        </option>
                        <option value="Web Development">
                          Web Development
                        </option>
                      </select>
                    </span>
                  </label>
                </div>
                <div style=" width: 50%;float: right;padding: 3px;">
                  <label>
                    <span class="wpcf7-form-control-wrap Budget">
                      <select name="Budget" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required select-field" aria-required="true" aria-invalid="false">
                        <option value="Budget">
                          Budget
                        </option>
                        <option value="£1,000 - £5,000/mo.">
                          £1,000 - £5,000/mo.
                        </option>
                        <option value="£5,000 - £10,000/mo.">
                          £5,000 - £10,000/mo.
                        </option>
                        <option value="£10,000 - £15,000/mo.">
                          £10,000 - £15,000/mo.
                        </option>
                        <option value="£15,000 - £25,000/mo.">
                          £15,000 - £25,000/mo.
                        </option>
                        <option value="£25,000+/mo.">
                          £25,000+/mo.
                        </option>
                      </select>
                    </span>
                  </label>
                </div>
                <div style="padding: 3px;">
                  <label> <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea text-field" aria-invalid="false" placeholder="Tell Us about your company"></textarea></span></label>
                </div>
                <p>
                  <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit send-button" />
                </p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div style="text-align: center;background: #22262c;position: absolute;left: 0;right: 0;">
  <div class="flaxwidth" style="margin: 0 auto;background: #34383e;left:0;right:0;">
    <ul class="flex">
      <li style="    padding: 30px;">
        <img src="https://www.reposition.co.uk/wp-content/uploads/2019/03/A.png" style="padding:0px 10px;" />
        <a href="#" style="    color: white;">
          <strong>Call</strong>:<span style="color:#ada8a8;"> 020 000 000</span>
        </a>
      </li>
      <li style="    padding: 30px;">
        <img src="https://www.reposition.co.uk/wp-content/uploads/2019/03/B.png" style="padding:0px 10px;" />
        <a href="#" style="    color: white;">
          <strong>Email</strong>: <span style="color:#ada8a8;">Hello@Reposition.Co.Uk</span>
        </a>
      </li>
      <li style="    padding: 30px;">
        <img src="https://www.reposition.co.uk/wp-content/uploads/2019/03/C.png" style="padding:0px 10px;" />
        <a href="#" style="    color: white;">
          <strong>Address</strong>: <span style="color:#ada8a8;">22 LONG ACRE, COVENT GARDEN, LONDON, WC2E 9LY</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="footer-bottom" style="background-color:#22262c; text-align:center;    height: 180px;">
  <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/footer-logo.png" style="    margin-top: 85px;" />
</div>
