<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="13" class="elementor elementor-13" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="d858b5e" class="elementor-element elementor-element-d858b5e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="96f2e57" class="elementor-element elementor-element-96f2e57 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <section data-id="a59445d" class="elementor-element elementor-element-a59445d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="8bccf9e" class="elementor-element elementor-element-8bccf9e elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap">
                              <div class="elementor-widget-wrap"></div>
                            </div>
                          </div>
                          <div data-id="293cfc0" class="elementor-element elementor-element-293cfc0 elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap">
                              <div class="elementor-widget-wrap"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="fda97fd" class="elementor-element elementor-element-fda97fd elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="778aa27" class="elementor-element elementor-element-778aa27 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="9678b58" class="elementor-element elementor-element-9678b58 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                    <div data-id="0900090" class="elementor-element elementor-element-0900090 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <h1 style="font-weight:bold;">Branding</h1>
                        </div>
                      </div>
                    </div>
                    <div data-id="e363186" class="elementor-element elementor-element-e363186 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <p><strong>To stand out you need to stand for something meaningful.</strong></p>
                        </div>
                      </div>
                    </div>
                    <div data-id="6554eb6" class="elementor-element elementor-element-6554eb6 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <p>Our branding process can help your business create a unique name, story, strategy, and visual brand identity. Our branding team can also work closely with our digital marketing team to ensure your brand identity is perfectly positioned to gain traction and win market share.</p>
                          <p>At Reposition, we offer a range of branding services. </p>
                        </div>
                      </div>
                    </div>
                    <div data-id="732e53c" class="elementor-element elementor-element-732e53c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="4a9c4cd" class="elementor-element elementor-element-4a9c4cd elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="9a90941" class="elementor-element elementor-element-9a90941 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="fa00197" class="elementor-element elementor-element-fa00197 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <h2 style="font-weight:bold; font-size: 3rem;"><strong>Selected Work</strong></h2>
                        </div>
                      </div>
                    </div>
                    <div data-id="4e5e565" class="elementor-element elementor-element-4e5e565 elementor--h-position-center elementor--v-position-middle elementor-widget elementor-widget-slides" data-element_type="slides.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-slides-wrapper elementor-slick-slider" dir="ltr">
                          <div class="elementor-slides slick-arrows-outside">
                            <ngx-slick-carousel class="carousel"
                                                #slickModal="slick-carousel"
                                                [config]="slideConfig"
                                                (init)="slickInit($event)">
                              <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                <div class="elementor-repeater-item-ad04531 slick-slide">
                                  <div class="slick-slide-bg"></div>
                                  <div class="slick-slide-inner">
                                    <div class="elementor-slide-content">
                                    
                                      <div class="elementor-slide-description">
                                        <img src="{{slide.img}}" alt="" />
                                        <h2 style="text-align: center;margin-top: 30px; font-weight:bold;color: #333;">{{slide.h2}}</h2>
                                        <p style="text-align: center;    color: #333;">{{slide.p}}</p>
                                        <p style="text-align:center;">
                                          <button style="text-align: center;background: #3ec352;padding: 15px 30px;display: inline-block;border-radius: 30px;color: #fff;font-size: 15px;font-weight: normal !important;width: 240px;text-align: center;margin: 20px 0 0 0;font-weight: bold;"><a href="../case-studies/index.html" style="color: white;">VIEW CASE STUDY</a></button>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ngx-slick-carousel>
                               
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-id="07a9e2e" class="elementor-element elementor-element-07a9e2e elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="09f04fc" class="elementor-element elementor-element-09f04fc elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="8cce961" class="elementor-element elementor-element-8cce961 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="04c1cdd" class="elementor-element elementor-element-04c1cdd elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                    <div data-id="fb02a0f" class="elementor-element elementor-element-fb02a0f elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <h2 style="font-size: 3rem;"><strong>Branding Process</strong></h2>
                        </div>
                      </div>
                    </div>
                    <div data-id="7f9dc9d" class="elementor-element elementor-element-7f9dc9d elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                    <section data-id="7ed2256" class="elementor-element elementor-element-7ed2256 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-wide">
                        <div class="elementor-row">
                          <div data-id="331c4de" class="elementor-element elementor-element-331c4de elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="ccc750b" class="elementor-element elementor-element-ccc750b elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                      <h4 style="letter-spacing: 4px; font-size: 20px;"><strong>Brand Discovery</strong></h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-id="f9921f6" class="elementor-element elementor-element-f9921f6 elementor-column elementor-col-66 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="408b276" class="elementor-element elementor-element-408b276 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                      <p>We work closely with you to unearth insights that lead us to informed and inspired brand strategies. We believe the key is to listen, then research, then make suggestions.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div data-id="115fd78" class="elementor-element elementor-element-115fd78 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                    <section data-id="27df33c" class="elementor-element elementor-element-27df33c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-wide">
                        <div class="elementor-row">
                          <div data-id="7c2b419" class="elementor-element elementor-element-7c2b419 elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="d289d75" class="elementor-element elementor-element-d289d75 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                      <h4 style="letter-spacing: 4px; font-size: 20px;"><strong>Brand Building</strong></h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-id="6be7206" class="elementor-element elementor-element-6be7206 elementor-column elementor-col-66 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="6c6dbed" class="elementor-element elementor-element-6c6dbed elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                      <p>We build the complete brand identity, covering all media and all touchpoints.</p>
                                      <p><span style="font-size: 1.8rem;">Logo | Visual Identity | Illustration | Physical Location Design | Web | Packaging | Print | Stationary &amp; Much More&#8230;</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div data-id="09861ae" class="elementor-element elementor-element-09861ae elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="469f2e0" class="elementor-element elementor-element-469f2e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="810b9d4" class="elementor-element elementor-element-810b9d4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="a2495ec" class="elementor-element elementor-element-a2495ec elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                          <div class="elementor-spacer-inner"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
