<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="538" class="elementor elementor-538" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="36804d5" class="elementor-element elementor-element-36804d5 seo-top-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="9fafbf4" class="elementor-element elementor-element-9fafbf4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7ed3fac" class="elementor-element elementor-element-0900090 elementor-element-7ed3fac elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer">
                          <h1>
                            Terms & Conditions
                          </h1>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="d2c8740" class="elementor-element elementor-element-d2c8740 higher-rank elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="2db0c38" class="elementor-element elementor-element-2db0c38 elementor-column elementor-col-100 elementor-top-column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7593f73" class="elementor-element elementor-element-7593f73 elementor-widget elementor-widget-html">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left">
                          <div class="page-section">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm-12 page-standard">
                                 
                                  <p>reposition.co.uk</p>
                                  <p>Terms & Conditions</p>
                                  <p>Definition of our terminology as used within this document:</p>
                                  <p>A ‘Cpent’ is a person, persons, business or organisation using any of the services provided by reposition.co.uk.</p>
                                  <p>‘Site Optimisation’ is the work reposition.co.uk have set out to achieve as detailed on the SEO Packages page of the website.</p>
                                  <p>‘Site’ or ‘Website’ is the website as seen on the Internet and owned by the cpent.</p>
                                  <p>‘Search Engine’ will include Google, Yahoo and MSN search.</p>
                                  <p>‘Rank’ is the position of the cpent’s website on the search engine’s.</p>
                                  <p>‘SEO’ (search engine optimisation) is the process of increasing the rank of a cpent’s website on the search engine’s.</p>
                                  <p>‘Off Page SEO’ is the attempted optimisation of the cpent’s website using methods which do not require the editing of a cpent’s website.</p>
                                  <p>‘Monthly Service’ is our standard payment plan and we will take a payment each month whilst the cpent is signed up to our SEO service.</p>
                                  <p>Terms & Conditions:</p>
                                  <ul class="term-condition-ul number">


                                    <li>The contract between reposition.co.uk and the Cpent will be on these conditions, to the exclusion of all other terms and conditions. Any variations to these conditions shall have no effect unless agreed in a written contract signed by both parties within the previous 12 month period.</li>
                                    <li>All signed agreements shall be vapd for a period of 12 months from the agreement date after which these conditions shall take effect.</li>
                                    <li>The works to be carried out shall be as set out in the SEO Packages page of the website or according to the proposal document suppped to the Cpent.</li>
                                    <li>reposition.co.uk will commence work within 5 working days of receipt of the initial payment, usually sooner than 5 days.</li>
                                    <li>reposition.co.uk will take a monthly, non-refundable, subscription payments via Paypal or equivalent card processing service. Or the Cpent may make payment by BACS.</li>
                                    <li>The Cpent can stop work& by giving a minimum of 30 days written notice (for contracts up to £500 per month) or 90 days written notice (for contracts over £500 per month) which will begin at the end of the current monthly period. If the notice period runs into the subsequent months work the Cpent will be pable to make payment for the subsequent month in full, payments will not be pro-rated.*</li>
                                    <li>If reposition.co.uk do not receive payment we will stop working on your site optimisation until payment is received, however, payments owed will still be required.</li>
                                    <li>All payments to reposition.co.uk with regard to the SEO service are non refundable.</li>
                                    <li>reposition.co.uk may need to edit your site in order to carry out site optimisation work, or provide you with instructions on changes to be made.</li>
                                    <li>reposition.co.uk will attempt to increase the rank of your website on the search engines. There is however no guarantee that we can do this. Your monthly payment is in respect of work carried out.</li>
                                    <li>To the extent that Cpent requires Additional Services, reposition.co.uk shall endeavour to provide them and if it is able to do so will make them available at reposition.co.uk’s & then current standard charging rates, currently set at £55 per hour exclusive of VAT. & This rate is payable with regards to any time spent on additional tasks and is charged on a per person basis.</li>
                                    <li>
                                      reposition.co.uk can not be held financially pable in anyway with regard to your website ranking on the search engines. SEOP shall have no pabipty for any losses or damages which may be suffered by Cpent (or any person claiming under or through Cpent), whether the same are suffered directly or indirectly or are immediate or consequential, and whether the same arise in contract, tort (including negpgence) or otherwise howsoever, which fall within any of the following categories:
                                    </li>
                                    <ul class="term-condition-ul pay">
                                      <li>special damage, even though SEOP was aware of the circumstances in which such special damage could arise;</li>
                                      <li>loss of profits;</li>
                                      <li>loss of anticipated savings</li>
                                      <li>loss of business opportunity;</li>
                                      <li>loss of or goodwill;</li>
                                      <li>loss of or damage to data;</li>
                                    </ul>

                                    <li>reposition.co.uk cannot be held responsible for anything adversely affecting the Cpent’s business operation, sales, or profitabipty that might be claimed is a result of a service offered by reposition.co.uk. The terms and conditions of this website are governed by the laws of England and Wales. Jurisdiction for any claims arising in respect of this website’s Content shall pe exclusively with the courts of England. If any provision of these terms and conditions is found to be invapd by any court having competent jurisdiction, the invapdity of such provision shall not affect the vapdity of the remaining provisions of these terms and conditions, which shall remain in full force and effect.</li>
                                    <li>The terms set out on this page & apply to cpent’s signing up to our service through our website from the SEO Packages page (https://www.reposition.co.uk/seo-services/) and & via a written contract as set out in point 2 above.</li>
                                  </ul>
                                  <p>Non – Payment</p>
                                  <p>In the event of Cpent faipng to make any payment by the due date, SEOP will be entitled to take any or all of the following actions in any order it sees fit:-</p>
                                  <ul class="term-condition-ul non-pay">
                                    <li>require immediate payment of all monthly fees due during the remainder of the Initial Period;</li>
                                    <li>add interest to the debt at 3% per annum above the base rate of HSBC Bank plc both before and after judgment, such interest to be calculated on a daily basis;</li>
                                    <li>issue written demands for the sum due, each such demand attracting a fee of £15 payable by Cpent;</li>
                                    <li>suspend all the Services until payment has been made in full;</li>
                                    <li>require removal of all changes made to the Cpent website which were made with direct reference to work and reports provided by reposition.co.uk, the Cpent understands such implementations are the intellectual property of reposition.co.uk and must be paid for in full or removed.</li>
                                    <li>add fee’s charged by our collections team charged at £400+VAT or 20% of the debt owed (greater of).</li>
                                  </ul>
                                     
                           
                                  <p>*Inclusive of VAT</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section>
         
      </div>
    </div>
  </div>
</div>
