<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="538" class="elementor elementor-538" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="36804d5" class="elementor-element elementor-element-36804d5 seo-top-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="9fafbf4" class="elementor-element elementor-element-9fafbf4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7ed3fac" class="elementor-element elementor-element-0900090 elementor-element-7ed3fac elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer">
                          <h1>
                            Refund Policy
                          </h1>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="d2c8740" class="elementor-element elementor-element-d2c8740 higher-rank elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="2db0c38" class="elementor-element elementor-element-2db0c38 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7593f73" class="elementor-element elementor-element-7593f73 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left">
                          <div class="page-section">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm-12 page-standard">

                                  <p><strong>1. Do I have to accept returns?</strong></p>
                                  <p>
                                    Under the Consumer Rights Act 2015, consumers may be entitled to a refund, replacement, repair and/or compensation where goods are faulty or not as described; they are also entitled to a refund and/or compensation where the seller had no legal right to sell the goods. See 'The sale & supply of goods' for more detailed information.
                                  </p>
                                  <p>
                                    In other cases - for example, where the consumer has bought an item of clothing in the wrong size, or they have changed their mind or an item is an unwanted gift - there is normally no automatic right to return goods.
                                  </p>
                                  <p>
                                    There are a few exceptions to this rule, including goods sold by mail order or over the internet (distance selling) and some goods sold to a consumer during a visit to their home etc. See 'Consumer contracts: distance sales' and 'Consumer contracts: off-premises sales' for more information.
                                  </p>
                                 
                                  <p>&nbsp;</p>
                                  <p>
                                    <strong>
                                      2. What can I say in my returns policy?
                                    </strong>
                                  </p>
                                  <p>It can be difficult to draft a returns policy that provides the consumer with useful information, protects your interests and also meets the requirements of the law. For this reason it is often said that 'the best notice is no notice' and you should not need to state a returns policy at all unless your policy offers the consumer more than their minimum entitlement in law.</p>
                                  <p>Where you do offer the consumer more than the law requires you can impose conditions - for example:</p>
                                  <ul class="term-condition-ul">
                                    <li>a requirement to produce the original till receipt</li>
                                    <li>a requirement to return the goods unused and in unopened packaging</li>
                                    <li>a deadline for returns</li>
                                    <li>an offer to exchange or offer a credit note, but not to refund</li>
                                  </ul>
                                  <p>You cannot impose these conditions where the consumer has a legal right to return goods. Where you state anything about your returns policy or guarantee, you should ensure that this does not mislead consumers about their legal rights. It is therefore good practice to state this explicitly - for example, 'this policy is offered in addition to your legal rights'.</p>
                                  <p>If you want to let your customers know about your returns policy before they buy goods, you should take care to ensure that you do not mislead them about their legal rights.</p>
                                  <p>You should also state clearly what you offer in addition to those rights. The following would be an acceptable returns policy for a retail shop that serves customers face-to-face:</p>
                                  <table>
                                    <tbody>
                                      <tr>
                                        <td width="211"><strong>“Your legal rights:”</strong></td>
                                        <td width="394">
                                          When you buy goods from a business, in law you have a number of rights as a consumer. These include the right to claim a refund, replacement, repair and/or compensation where the goods are faulty or misdescribed.
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="211"><strong>“Our policy:”</strong></td>
                                        <td width="394">In addition to your legal rights, we also allow you to return goods if you simply change your mind. Please return the unused goods to us with the original till receipt within 14 days and we will offer you an exchange or a credit note.</td>
                                      </tr>

                                    </tbody>
                                  </table>
                                  <p>
                                    If you sell at a distance (for example, through your website) or away from your business premises (for example, in consumers' homes), then the consumer has additional legal rights that must be reflected in your standard terms and documentation (see 'Consumer contracts: distance sales' and 'Consumer contracts: off-premises sales'). In these situations, you may wish to draw up a returns policy that includes:
                                  </p>
                                  <ul class="term-condition-ul">
                                    <li>a summary of the consumer's legal rights where goods are faulty, misdescribed etc</li>
                                    <li>details of the consumer's legal right to cancel without giving a reason, usually within 14 days of the delivery of goods</li>
                                    <li>any additional rights you wish to give the consumer, such as a longer cancellation period than the legal minimum of 14 days</li>

                                  </ul>
                                  <p>
                                    <strong>
                                      3. Can I limit my liability to a customer?
                                    </strong>
                                  </p>
                                  <p>Consumers' legal rights cannot be taken away or restricted, and any attempt by a trader to do so by reference to an exclusion clause or similar notice is void and therefore unenforceable.</p>
                                  <p>Under the Consumer Protection from Unfair Trading Regulations 2008 it is also a criminal offence to mislead a consumer about their legal rights.</p>
                                  <p>The following are examples of statements that are likely to mislead consumers about their rights:</p>
                                  <ul class="term-condition-ul">
                                    <li>no refunds given</li>
                                    <li>
                                      goods can only be exchanged
                                    </li>
                                    <li>
                                      only credit notes will be given against faulty goods
                                    </li>
                                    <li>
                                      sold as seen
                                    </li>
                                  </ul>
                                  <p>Even the statement 'No refunds except where goods are faulty' would be illegal, as there are a number of cases where a consumer can claim a refund on goods that are not faulty (such as misdescribed goods)</p>
                                  <p>
                                    <strong>
                                      4. Can I disclaim the notice to make it correct?
                                    </strong>
                                  </p>
                                  <p>It is a common misconception that statements such as those described above can be used if they are accompanied by a statement such as 'Your statutory rights remain unaffected'. However, where two contradictory statements are used together they are still likely to mislead consumers about their rights and the notice is likely to be illegal.</p>


                                  <p>
                                    <strong>
                                      5. Consumer guarantees
                                    </strong>
                                  </p>
                                  <p>
                                    The Consumer Rights Act 2015 sets out rules that apply when you give a guarantee on goods without extra charge. Any such guarantee must include the following particulars:
                                  </p>
                                  <ul class="term-condition-ul">
                                    <li>
                                      the name and address of the person giving the guarantee
                                    </li>
                                    <li>
                                      the contents of the guarantee (that is, what it covers, which countries it applies in, and what you will do when a claim is made)
                                    </li>
                                    <li>
                                      the duration of the guarantee
                                    </li>
                                    <li>
                                      how to make a claim
                                    </li>
                                    <li>
                                      a statement that the consumer has statutory rights that are not affected by the guarantee

                                    </li>
                                  </ul>
                                  <p>
                                    You cannot use the duration of a guarantee to limit consumers' rights. Consumers are entitled to expect goods to remain of satisfactory quality throughout their reasonable life expectancy, so long as they are maintained correctly and not misused.

                                  </p>
                                  <p>
                                    If you offer a guarantee, consumers can require you to provide a copy in writing. If goods are offered within the United Kingdom, the guarantee must be written in English.

                                  </p>
                                  <p><strong>5. Penalties</strong></p>
                                  <p>Failure to comply with trading standards law can lead to enforcement action and to sanctions, which may include a fine and/or imprisonment. </p>
                                  
                                          <p><strong>
  6. Key legislation
</strong></p>
                                  
                               
                                          <p><a href="http://www.legislation.gov.uk/ukpga/2015/15/contents">Consumer Rights Act 2015</a></p>
                                  <p>&nbsp;</p>
                                  <p>&nbsp;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>

