<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="36" class="elementor elementor-36" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="f9327aa" class="elementor-element elementor-element-f9327aa elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="2f7849a" class="elementor-element elementor-element-2f7849a elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="d842580" class="elementor-element elementor-element-d842580 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="dental-seo-title">
                          <h1>SEO for Dentists</h1>
                          <p class="tf">Rank your dental practice high on</p>
                          <img src="https://assets.digimax.dental/uploads/2017/12/google.png" />
                          <p class="tf">using Dental SEO that works.</p>
                          <p class="ttf">We can rank your dental practice higher in Google using proven marketing methods. There are ZERO contracts with us, our Search Engine Optimisation service gets you more patients.</p>
                          <p class="f">
                            We have a dedicated team helping practices grow through their practices through Search Engine Optimisation (SEO).
                            Our team uses the best practices, and the most easiest reporting methods
                            to ensure you rank high for your local area to get the type of patients you want.
                            Whether it be for general dentistry, dental implants, orthodontics or teeth whitening
                            – our SEO performs exceptionally well.
                          </p>
                          <p><strong>How not to find patients:</strong></p>
                          <a routeLink="#"><img src="https://assets2.digimax.dental/uploads/2017/12/play-1.png" /></a>
                        </div>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section data-id="1b575f3" class="elementor-element elementor-element-1b575f3 elementor-section-stretched happy-client-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-container2 elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="55598c7" class="elementor-element elementor-element-55598c7 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="d3f7ada" class="elementor-element elementor-element-d3f7ada elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="our-clients us-apart-main">
                          <!--<h3>93% of online experiences begin with a search engine. Make sure customers can find you.</h3>-->
                          <h2>Dental SEO Verified Results</h2>
                          <p>All data below was verified on 05/01/2019</p>
                        </div>
                      </div>
                    </div>
                    <section data-id="6272bb3" class="elementor-element elementor-element-6272bb3 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="36e61f0" class="elementor-element elementor-element-36e61f0 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="212e375" class="elementor-element elementor-element-212e375 elementor-widget elementor-widget-html" data-element_type="html.default">
                                  <div class="elementor-widget-container">
                                    <div class="g-tried">
                                      <ul>
                                        <li>
                                          <a>
                                            <span>
                                              <img src="https://assets.digimax.dental/uploads/2018/01/dental-implants-richmond.jpg" alt="apart-pic">
                                            </span>
                                          </a>
                                        </li>
                                        <li>
                                          <a >
                                            <span>
                                              <img src="https://assets.digimax.dental/uploads/2018/01/dental-implants-richmond.jpg" alt="apart-pic">
                                            </span>
                                          </a>
                                        </li>
                                        <li>
                                          <a >
                                            <span>
                                              <img src="https://assets.digimax.dental/uploads/2018/01/dental-implants-richmond.jpg" alt="apart-pic">
                                            </span>
                                          </a>
                                        </li>
                                        <li>
                                          <a >
                                            <span>
                                              <img src="https://assets.digimax.dental/uploads/2018/01/dental-implants-richmond.jpg" alt="apart-pic">
                                            </span>
                                          </a>
                                        </li>
                                        <li>
                                          <a >
                                            <span>
                                              <img src="https://assets.digimax.dental/uploads/2018/01/dental-implants-richmond.jpg" alt="apart-pic">
                                            </span>
                                          </a>
                                        </li>
                                        <li>
                                          <a >
                                            <span>
                                              <img src="https://assets.digimax.dental/uploads/2018/01/dental-implants-richmond.jpg" alt="apart-pic">
                                            </span>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p style="text-align:center">
                        <a routeLink="#text-2" class="buttonr">Get in touch with Reposition today</a>
                      </p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
