<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="538" class="elementor elementor-538" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="36804d5" class="elementor-element elementor-element-36804d5 seo-top-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="9fafbf4" class="elementor-element elementor-element-9fafbf4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7ed3fac" class="elementor-element elementor-element-0900090 elementor-element-7ed3fac elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer">
                          <h1>Pay Per Click (PPC) Management</h1>
                          <h3>Maximum Exposure. Maximum Impact.</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="d2c8740" class="elementor-element elementor-element-d2c8740 higher-rank elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="2db0c38" class="elementor-element elementor-element-2db0c38 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7593f73" class="elementor-element elementor-element-7593f73 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left">
                          <p>What makes the difference between success and failure in the crowded, chaotic internet world? Visibility. Occupying prime real estate on the search engine results pages helps establish your brand as a force to be reckoned with. With our strategic Pay-Per-Click services, your brand can achieve greater visibility – and better results.</p>
                          <p>Pay-Per-Click streamlines visibility; campaigns launch quickly, audiences are targeted – and retargeted – accurately and, best of all, ROI is maximised. With our comprehensive approach, we track conversions, measure ad effectiveness and enable you to effectively manage your marketing spend.</p>
                          <p>The only thing increasing as rapidly as online competition is costs; PPC is a budget-conscious method of driving highly-qualified traffic to your site, increasing conversion rates and providing local, national and even global exposure.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-id="9f1c6a9" class="elementor-element elementor-element-9f1c6a9 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="51c95fa" class="elementor-element elementor-element-51c95fa elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left seo-service-right">
                          <h3>List Acquisition Services</h3>
                          <p>We'll implement research-based strategies to help you build a list you can count on again and again.</p>
                          <h3>Customised Designs</h3>
                          <p>Who wants a cookie cutter look when you can do so much more with your email templates? We'll craft gorgeous mailers with eye-catching features that will engage customers the instant they're opened.</p>
                          <h3>Turnkey Campaign Services</h3>
                          <p>From the initial ideas to the layout, content creation, and scheduling, we'll be with you every step of the way to launch your next big idea.</p>
                          <h3>Tracking & Reporting</h3>
                          <p>Get solid data on the most essential aspects of your campaign. you can learn who clicked through, who converted, and who simply didn't bother to open this go round.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="bc8f90e" class="elementor-element elementor-element-bc8f90e dominate-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="0ddd007" class="elementor-element elementor-element-0ddd007 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="c7dfd22" class="elementor-element elementor-element-c7dfd22 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left dominate-content">
                          <p>The Reposition team works with your brand to identify goals and objectives, and we deliver results to ensure you achieve them. From monitoring bid prices and budgets to analysing data, we actively manage your account to ensure you get the best possible return on your investment.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-id="ac28182" class="elementor-element elementor-element-ac28182 iphone-right elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7a83f09" class="elementor-element elementor-element-7a83f09 elementor-widget elementor-widget-image" data-element_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="265" height="540" src="/assets/images/2019/01/iphone-img-pay-per-click.png" class="attachment-large size-large" alt="" srcset="/assets/images/2019/01/iphone-img-pay-per-click.png 265w, /assets/images/2019/01/iphone-img-pay-per-click-147x300.png 147w" sizes="(max-width: 265px) 100vw, 265px" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="30061d6" class="elementor-element elementor-element-30061d6 elementor-section-stretched project-analysis-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="42e0621" class="elementor-element elementor-element-42e0621 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="fea57f6" class="elementor-element elementor-element-fea57f6 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="purse-tried seo-service-projects">
                          <ul>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic01.png" alt="seo-service-pic">
                                </span><h2>Analysis</h2><p>We pride ourselves on providing the most comprehensive SEO analysis available in the market.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic02.png" alt="seo-service-pic">
                                </span><h2>Results Driven</h2><p>Our team thrives on results. We constantly analyse, implement and measure results.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic03.png" alt="seo-service-pic">
                                </span><h2>Technology</h2><p>With our own proprietory software and in-house R&D team we confidently navigate the search landscape for you.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic04.png" alt="seo-service-pic">
                                </span><h2>Support</h2><p>We provide levels of suport to suit your needs. We are happy to take the lead or work more closely with your in-house marketing team.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic05.png" alt="seo-service-pic">
                                </span><h2>Reporting</h2><p>We provide custom reporting to suit your needs. We are able to adapt to ensure all stakeholders  are taken good care of.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic06.png" alt="seo-service-pic">
                                </span><h2>Analytics</h2><p>We will setup and monitor analytics for you, ensuring our work is having a positive impact on your search presence.</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="5c7107b" class="elementor-element elementor-element-5c7107b elementor-section-stretched elementor-section-full_width metrics-matter-outer elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="ebc13e9" class="elementor-element elementor-element-ebc13e9 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="4edcbc2" class="elementor-element elementor-element-4edcbc2 metric-report-inner-mg elementor-widget elementor-widget-image" data-element_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="896" height="548" src="/assets/images/2018/12/plain-rating03.png" class="attachment-full size-full" alt="" srcset="/assets/images/2018/12/plain-rating03.png 896w, /assets/images/2018/12/plain-rating03-300x183.png 300w, /assets/images/2018/12/plain-rating03-768x470.png 768w" sizes="(max-width: 896px) 100vw, 896px" />
                        </div>
                      </div>
                    </div>
                    <div data-id="9444b35" class="elementor-element elementor-element-9444b35 mobile-laptop-img elementor-widget elementor-widget-image" data-element_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="1067" height="614" src="/assets/images/2018/12/full-laptop-img.png" class="attachment-full size-full" alt="" srcset="/assets/images/2018/12/full-laptop-img.png 1067w, /assets/images/2018/12/full-laptop-img-300x173.png 300w, /assets/images/2018/12/full-laptop-img-768x442.png 768w, /assets/images/2018/12/full-laptop-img-1024x589.png 1024w" sizes="(max-width: 1067px) 100vw, 1067px" />
                        </div>
                      </div>
                    </div>
                    <section data-id="6321e03" class="elementor-element elementor-element-6321e03 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="29e2333" class="elementor-element elementor-element-29e2333 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="e4a942f" class="elementor-element elementor-element-e4a942f elementor-widget elementor-widget-html" data-element_type="html.default">
                                  <div class="elementor-widget-container">
                                    <div class="seo-service-outer seo-service-left metric-report">
                                      <h3>Tell us about your project</h3>
                                      <p>Let us help you get your business online and grow it with passion</p>
                                      <p>
                                        Create something amazing when you contact us today.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="e792bf9" class="elementor-element elementor-element-e792bf9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="5e1ef25" class="elementor-element elementor-element-5e1ef25 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="2b19e17" class="elementor-element elementor-element-2b19e17 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-campaigns">
                          <h2>
                            78% of the PPC campaigns fail.<br>
                            <strong>You deserve the best!</strong>
                          </h2><a href="#">enquire now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
