<app-category></app-category>
<div class="site-inner">
  <div class="main-outer">
    <div class="blog_content">
      <div class="categories-post-con">
        <div class="leftside">
          <div class="title-outer archive-header" style="background-image: url('')">
            <h2 id="post-634" class="page-title-blog">Blog</h2>
          </div>
          <div class="blog_post_outer">
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../ecommerce-seo/seo-magento-a-good-equation/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../ecommerce-seo/seo-magento-a-good-equation/index.html" rel="bookmark" title="Permanent Link to SEO + Magento: A Good Equation?">SEO + Magento: A Good Equation?</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Magento is one of the most powerful e-commerce platforms available today. It comes with a number of features today's online merchant's love, and because it's.</div>
                      <a href="../ecommerce-seo/seo-magento-a-good-equation/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../seo/is-seo-really-necessary-for-medical-websites/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../seo/is-seo-really-necessary-for-medical-websites/index.html" rel="bookmark" title="Permanent Link to Is SEO Really Necessary for Medical Websites?">Is SEO Really Necessary for Medical Websites?</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Across the globe, people are turning to the web to find the right GP, medical products, advice and more. Many healthcare startups are finding this.</div>
                      <a href="../seo/is-seo-really-necessary-for-medical-websites/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../seo/the-medical-seo-tips-that-will-get-more-patients-on-the-phone/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../seo/the-medical-seo-tips-that-will-get-more-patients-on-the-phone/index.html" rel="bookmark" title="Permanent Link to The Medical SEO Tips That Will Get More Patients On the Phone">The Medical SEO Tips That Will Get More Patients On the Phone</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Many healthcare practices today have a serious problem - they want patients to notice them. For years the medical industry has simply had patients appear.</div>
                      <a href="../seo/the-medical-seo-tips-that-will-get-more-patients-on-the-phone/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../ecommerce-seo/a-guide-to-generating-the-keywords-you-need-most/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../ecommerce-seo/a-guide-to-generating-the-keywords-you-need-most/index.html" rel="bookmark" title="Permanent Link to Ecommerce SEO: A Guide to Generating the Keywords You Need Most">Ecommerce SEO: A Guide to Generating the Keywords You Need Most</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">According to Hubspot research, organic search is 94% of all web traffic. That first position has nearly a 35% click-through rate. Wouldn't it be amazing.</div>
                      <a href="../ecommerce-seo/a-guide-to-generating-the-keywords-you-need-most/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../ecommerce-seo/three-problems-that-may-affect-your-ecommerce-seo/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../ecommerce-seo/three-problems-that-may-affect-your-ecommerce-seo/index.html" rel="bookmark" title="Permanent Link to Three Problems That May Affect Your Ecommerce SEO">Three Problems That May Affect Your Ecommerce SEO</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Free, continuous traffic that buys what you have to offer. It's a dream come true for every eCommerce store owner, and it's what SEO can.</div>
                      <a href="../ecommerce-seo/three-problems-that-may-affect-your-ecommerce-seo/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../seo/ymyl/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../seo/ymyl/index.html" rel="bookmark" title="Permanent Link to YMYL: A Google Acronym Every Financial Industry Professional Needs to Know During Optimization">YMYL: A Google Acronym Every Financial Industry Professional Needs to Know During Optimization</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Google's algorithm is constantly changing for a number of reasons. The primary one is to help users better connect with the content they need. Another.</div>
                      <a href="../seo/ymyl/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../seo/a-complete-guide-to-landing-page-optimisation/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../seo/a-complete-guide-to-landing-page-optimisation/index.html" rel="bookmark" title="Permanent Link to A Complete Guide to Landing Page Optimisation">A Complete Guide to Landing Page Optimisation</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Struggling with your landing page bounce rate? You're not alone. For many businesses, decreasing that one number can be the most frustrating part of the.</div>
                      <a href="../seo/a-complete-guide-to-landing-page-optimisation/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../seo/4-essential-seo-tips-for-small-business-websites/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../seo/4-essential-seo-tips-for-small-business-websites/index.html" rel="bookmark" title="Permanent Link to 4 Essential SEO Tips for Small Business Websites">4 Essential SEO Tips for Small Business Websites</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">According to a study by research firm Clutch, 29% of small businesses don't have a website at all. Of those that do have a website,.</div>
                      <a href="../seo/4-essential-seo-tips-for-small-business-websites/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog_post_out inner">
              <div class="category-outer">
                <div class="category-inner">
                  <div class="blog_post_in">
                    <div class="blog_left post-image">
                      <a href="../seo/3-things-you-should-optimize-first-in-your-magento-seo-efforts/index.html"></a>
                    </div>
                    <div class="blog_right">
                      <h2>
                        <a href="../seo/3-things-you-should-optimize-first-in-your-magento-seo-efforts/index.html" rel="bookmark" title="Permanent Link to 3 Things You Should Optimize First In Your Magento SEO Efforts">3 Things You Should Optimize First In Your Magento SEO Efforts</a>
                      </h2>
                      <div class="date_format">
                        <span class="post-by"><strong>Posted by:</strong> Tuhin</span>
                        <span class="entry-date">February 21, 2019</span>
                      </div>
                      <div class="content-blog-post">Magento is easily one of the fastest growing e-commerce platforms on the planet today and for good reason. This open-source powerhouse is innovative, completely customizable,.</div>
                      <a href="../seo/3-things-you-should-optimize-first-in-your-magento-seo-efforts/index.html" class="more_btn">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-pagination">
          <div class="navigation">
            <ol class="wp-paginate font-inherit">
              <li><span class="title">Pages:</span></li>
              <li><span class='page current'>1</span></li>
              <li><a routerLink='page2' title='2' class='page'>2</a></li>
              <li><a routerLink='page3' title='3' class='page'>3</a></li>
              <li><a routerLink='page4' title='4' class='page'>4</a></li>
              <li><a routerLink='page5' title='5' class='page'>5</a></li>
              <li><a routerLink='page6' title='6' class='page'>6</a></li>
              <li><a routerLink="page2" class="next">Next</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
