<div class="site-inner">
    <div data-elementor-type="post" data-elementor-id="546" class="elementor elementor-546" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section data-id="36804d5" class="elementor-element elementor-element-36804d5 seo-top-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="9fafbf4" class="elementor-element elementor-element-9fafbf4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="7ed3fac" class="elementor-element elementor-element-7ed3fac elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">
                                                <div class="seo-service-outer">
                                                    <h1>Digital Consultancy Services</h1>
                                                    <h3>It's time to start tackling your digital challenges like you really mean it - actively managing your journey toward excellence. Reposition can help.</h3></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="d2c8740" class="elementor-element elementor-element-d2c8740 higher-rank elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="2db0c38" class="elementor-element elementor-element-2db0c38 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="7593f73" class="elementor-element elementor-element-7593f73 elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">
                                                <div class="seo-service-outer seo-service-left">
                                                    <p>Where are you now? Where do you need to be? If there are gaps in the process, how would you even begin to identify them? Reposition's digital consultancy services can help you take a closer look at where you actually want to be, then ensure the process is in place to make the changes necessary to help your company stay on top. From initially identifying your goals to training your staff on what needs to happen next, we'll be with you every step of the way, providing a cost effective solution to better strategy management.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="9f1c6a9" class="elementor-element elementor-element-9f1c6a9 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="51c95fa" class="elementor-element elementor-element-51c95fa elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">
                                                <div class="seo-service-outer seo-service-left seo-service-right">
                                                    <p>Digital Consultancy is an invaluable option for those not looking to completely outsource solutions for their business. It can help provide in-house teams with training and development assistance as well as remove some ad-hoc duties.</p>
                                                    <p>Our industry knowledge is second to none, and we're providing some of the hottest digital solutions for companies just like yours every single day. If you expect results, contact us right now.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="bc8f90e" class="elementor-element elementor-element-bc8f90e dominate-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="0ddd007" class="elementor-element elementor-element-0ddd007 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="c7dfd22" class="elementor-element elementor-element-c7dfd22 elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">
                                                <div class="seo-service-outer seo-service-left conversion-rate-CRO">
                                                    <p>Our entire process relies on a comprehensive audit where we take a closer look at your needs, what you do best, and what technologies you're employing right now. That gives us a better picture so we can begin working with you to formulate targeted, business-aligned goals that will improve your digital performance immediately.</p>
                                                    <p>At Reposition, our focus is bottom line impact. We use an approach that is proven to deliver serious results, even in the most complex situations. We know what's going to drive immediate change and what can make a long term impact on your company, and we create a plan to address that to help make your goals possible.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="ac28182" class="elementor-element elementor-element-ac28182 iphone-right elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="7a83f09" class="elementor-element elementor-element-7a83f09 elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img width="265" height="540" src="/assets/images/2018/12/iphone-img.png" class="attachment-large size-large" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2018/12/iphone-img.png 265w, https://www.reposition.co.uk/wp-content/uploads/2018/12/iphone-img-147x300.png 147w" sizes="(max-width: 265px) 100vw, 265px" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="30061d6" class="elementor-element elementor-element-30061d6 elementor-section-stretched project-analysis-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="42e0621" class="elementor-element elementor-element-42e0621 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="fea57f6" class="elementor-element elementor-element-fea57f6 elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">
                                                <div class="purse-tried seo-service-projects">
                                                    <ul>
                                                        <li><a href="#"><span><img
src="/assets/images/2018/12/seo-service-pic01.png" alt="seo-service-pic"></span><h2>Study Aid Essays</h2><p>This site applies a smart SEO strategy to acquire online clients via long-tail search…</p></a></li>
                                                        <li><a href="#"><span><img
src="/assets/images/2018/12/seo-service-pic02.png" alt="seo-service-pic"></span><h2>International Passive Fire</h2><p>Currently, 65% of the total traffic on the site and most of the online…</p></a></li>
                                                        <li><a href="#"><span><img
src="/assets/images/2018/12/seo-service-pic03.png" alt="seo-service-pic"></span><h2>Altrui</h2><p>55% of sales come from organic search. Search traffic is the biggest revenue source…</p></a></li>
                                                        <li><a href="#"><span><img
src="/assets/images/2018/12/seo-service-pic04.png" alt="seo-service-pic"></span><h2>Poker Stars</h2><p>Paid Search work continues to contribute to our online commercial success. Raising the online…</p></a></li>
                                                        <li><a href="#"><span><img
src="/assets/images/2018/12/seo-service-pic05.png" alt="seo-service-pic"></span><h2>What is Lorem Ipsum?</h2><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p></a></li>
                                                        <li><a href="#"><span><img
src="/assets/images/2018/12/seo-service-pic06.png" alt="seo-service-pic"></span><h2>What is Lorem Ipsum?</h2><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="5c7107b" class="elementor-element elementor-element-5c7107b elementor-section-stretched elementor-section-full_width metrics-matter-outer elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="ebc13e9" class="elementor-element elementor-element-ebc13e9 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="4edcbc2" class="elementor-element elementor-element-4edcbc2 metric-report-inner-mg elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img width="896" height="548" src="/assets/images/2018/12/plain-rating03.png" class="attachment-full size-full" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2018/12/plain-rating03.png 896w, https://www.reposition.co.uk/wp-content/uploads/2018/12/plain-rating03-300x183.png 300w, https://www.reposition.co.uk/wp-content/uploads/2018/12/plain-rating03-768x470.png 768w" sizes="(max-width: 896px) 100vw, 896px" /></div>
                                            </div>
                                        </div>
                                        <div data-id="9444b35" class="elementor-element elementor-element-9444b35 mobile-laptop-img elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img width="1067" height="614" src="/assets/images/2018/12/full-laptop-img.png" class="attachment-full size-full" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2018/12/full-laptop-img.png 1067w, https://www.reposition.co.uk/wp-content/uploads/2018/12/full-laptop-img-300x173.png 300w, https://www.reposition.co.uk/wp-content/uploads/2018/12/full-laptop-img-768x442.png 768w, https://www.reposition.co.uk/wp-content/uploads/2018/12/full-laptop-img-1024x589.png 1024w" sizes="(max-width: 1067px) 100vw, 1067px" /></div>
                                            </div>
                                        </div>
                                        <section data-id="6321e03" class="elementor-element elementor-element-6321e03 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="29e2333" class="elementor-element elementor-element-29e2333 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="e4a942f" class="elementor-element elementor-element-e4a942f elementor-widget elementor-widget-html" data-element_type="html.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="seo-service-outer seo-service-left metric-report">
                                                                            <h3>Tell us about your project</h3>
                                                                            <p>Let us help you get your business online and grow it with passion</p>
                                                                            <p>Contact us and we will create and deliver bespoke digital strategies. Get solutions with the biggest impact for your business.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="e792bf9" class="elementor-element elementor-element-e792bf9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="5e1ef25" class="elementor-element elementor-element-5e1ef25 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="2b19e17" class="elementor-element elementor-element-2b19e17 elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">
                                                <div class="seo-campaigns">
                                                    <h2>76% of the SEO campaigns fail.<br>
<strong>You deserve the best!</strong></h2><a href="#">enquire now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div>