<div class="site-inner">
  <div id="case-content-sidebar">
    <div id="case-sidebar-inner">
      <div class="case-post-image">
        <div class="case-study-title">
          <h1>Spar</h1>
          <p>Branding, Intranet, Dev</p>
        </div>
        <div class="case-study-img">
          <img width="1366" height="826" src="/assets/images/2019/02/spar-banner.jpg" class="attachment-full size-full wp-post-image" alt="" />
        </div>
      </div>
      <div id="case-content-text">
        <div class="auto-container">
          <article class="post-938 surgical type-surgical status-publish has-post-thumbnail surgical_cat-designs entry" itemscope itemtype="https://schema.org/CreativeWork">
            <header class="entry-header">
              <h1 class="entry-title" itemprop="headline">Spar</h1>
              <p class="entry-meta">
                <time class="entry-time" itemprop="datePublished" datetime="2019-02-21T10:43:12+00:00">February 21, 2019</time> by
              </p>
            </header>
            <div class="entry-content" itemprop="text">
              <div class="saved-million">
                <h2>Saved millions by using extranet, expanded quicker than X% of brands in 2017/18 and have trebled in size since we started working with them</h2>
              </div>

              <ngx-slick-carousel class="carousel"
                                  #slickModal="slick-carousel"
                                  [config]="slideConfig"
                                  (init)="slickInit($event)">
                <div ngxSlickItem *ngFor="let slide of slides">
                  <img class="owl-lazy" src="{{slide.img}}" alt="">
                </div>
              </ngx-slick-carousel>
              <div class="saved-million">
                <h2> Webpages on Desktop</h2>
              </div>
              <ngx-slick-carousel class="carousel"
                                  #slickModal="slick-carousel"
                                  [config]="slideConfig"
                                  (init)="slickInit($event)">
                <div ngxSlickItem *ngFor="let slide of slides2">
                  <img class="owl-lazy" src="{{slide.img}}" alt="">
                </div>
              </ngx-slick-carousel>
              
              <div class="saved-million">
                <h2>  Webpages on Mobile</h2>
              </div>
              <div class="post-iphone-image">
                <img src="/assets/images/2019/02/island-outpost-iphone.png" alt="outpost-iphone">
              </div>
            </div>
            <footer class="entry-footer"></footer>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
