<div class="site-inner">
  <div id="case-content-sidebar">
    <div id="case-sidebar-inner">
      <div id="case-content-text">
        <div class="auto-container">
          <article class="post-666 surgical type-surgical status-publish has-post-thumbnail surgical_cat-property-real-estate entry" itemscope="" itemtype="https://schema.org/CreativeWork">
            <section class="elementor-element elementor-element-bc8f90e dominate-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section" data-id="bc8f90e" style="padding: 120px 0 0px;">
              <div class="pages-navigation pages-navigation-top clearfix">
                <span class="nav-previous">« <a routerLink="/case-study/doorsteps">Doorsteps</a></span>
                <span class="nav-next"><a routerLink="/case-study/stellamccartney">Stellamccartney</a> »</span>
              </div>
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-0ddd007 elementor-column elementor-col-50 elementor-top-column" data-element_type="column" data-id="0ddd007">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c7dfd22 elementor-widget elementor-widget-html" data-element_type="html.default" data-id="c7dfd22">
                          <div class="elementor-widget-container">
                            <div class="seo-service-outer seo-service-left conversion-rate-CRO">
                              <h2> The Mission </h2>
                              <p> It takes seconds for people to form an opinion about your site, and much of their decision making process relies on how well it functions. A website that performs well is one that creates trust and credibility. It means fewer frustrated visitors and a clearly communicated purpose from the outset. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-ac28182 iphone-right elementor-column elementor-col-50 elementor-top-column" data-element_type="column" data-id="ac28182">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-7a83f09 elementor-widget elementor-widget-image" data-element_type="image.default" data-id="7a83f09">
                          <div class="elementor-widget-container">
                            <div class="elementor-image"><img alt="" class="attachment-large size-large" src="/assets/images/case/hugoboss.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="elementor-element elementor-element-bc8f90e dominate-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section" data-id="bc8f90e" style="padding: 120px 0 0px;">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-0ddd007 elementor-column elementor-top-column" data-element_type="column" data-id="0ddd007">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c7dfd22 elementor-widget elementor-widget-html" data-element_type="html.default" data-id="c7dfd22">
                          <div class="elementor-widget-container">
                            <div class="seo-service-outer seo-service-left conversion-rate-CRO">
                              <h2> What We Did </h2>
                              <p> It takes seconds for people to form an opinion about your site, and much of their decision making process relies on how well it functions. A website that performs well is one that creates trust and credibility. It means fewer frustrated visitors and a clearly communicated purpose from the outset. </p>
                              <p>Your site's design will certainly affect its performance in terms of optimisation, and we work to ensure both customers and spiders can navigate your site easily. With strong architecture at the outset and better content that will get you noticed, our sites come ready for search engines from the moment they're released.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="elementor-element elementor-element-1b575f3 elementor-section-stretched happy-client-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section" data-id="1b575f3">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-55598c7 elementor-column elementor-col-100 elementor-top-column" data-element_type="column" data-id="55598c7">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-d3f7ada elementor-widget elementor-widget-html" data-element_type="html.default" data-id="d3f7ada">
                          <div class="elementor-widget-container">
                            <div class="seo-service-outer us-apart-main" style="text-align:center;">
                              <h2>Our Result</h2>
                            </div>
                          </div>
                        </div>
                        <section class="elementor-element elementor-element-71ef8ce spanser-main-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section" data-id="71ef8ce">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div class="elementor-element elementor-element-f9f0f47 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column" data-id="f9f0f47">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ec3efc1 spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default" data-id="ec3efc1">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                          <i aria-hidden="true" class="fa fa-line-chart case-icon"></i>
                                          <p class="case-para"> Increase in page 1 Ranking </p><strong class="case">400% </strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-427a07a elementor-column elementor-col-25 elementor-inner-column" data-element_type="column" data-id="427a07a">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-061d61b spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default" data-id="061d61b">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                          <i aria-hidden="true" class="fa fa-sliders case-icon"></i>
                                          <p class="case-para"> Increase in Organic Traffic </p><strong class="case">160% </strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-dc86812 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column" data-id="dc86812">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-dec01e5 spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default" data-id="dec01e5">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                          <i aria-hidden="true" class="fa fa-clock-o case-icon"></i>
                                          <p class="case-para"> Average visit duration </p><strong class="case">57% </strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-8377ca2 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column" data-id="8377ca2">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-17e52e8 spanser-outer elementor-widget elementor-widget-image" data-element_type="image.default" data-id="17e52e8">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                          <i aria-hidden="true" class="fa fa-eye case-icon"></i>
                                          <p class="case-para"> Organic traffic increased </p><strong class="case">99%</strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
