.slick-slide0 {
  background-image: url("/assets/images/banner1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.slick-slide1 {
  background-image: url("/assets/images/banner3.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.slick-slide2 {
  background-image: url("/assets/images/banner1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


.elementor-container-new {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0px;
}


.client_section {
  text-align: center;
  font-size: 18px;
  color: #3b393a;
  font-weight: 550;
  margin: 0 0 10px;
}

.elementor-client {
  padding: 45px 0px !important;
}
