.slick-slide0 {
  background-image: url("/assets/images/homebanner/B2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.slick-slide1 {
  background-image: url("/assets/images/homebanner/B1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.slick-slide2 {
  background-image: url("/assets/images/homebanner/B3.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


.elementor-container-new {
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 0px;
}


.client_section {
  text-align: center;
  font-size: 18px;
  color: #3b393a;
  font-weight: 550;
  margin: 0 0 10px;
}

.elementor-client {
  padding: 50px 0px !important;
  background-color: #f9f9f9;
}
.elementor-partner {
  padding: 50px 0px 0px 0px !important;
  
}

.fullwidth {
  width: -webkit-fill-available;
  margin:100px auto !important;
  display: table-cell;
  vertical-align: middle;
  height: 80vh;
}

.case-study {
  margin: 100px auto !important;
  display: table-cell;
  vertical-align: middle;
  height: 50vh;
}
.col-md-6 {
  margin-top:80px;
  margin-left:50px;
}
.key-areas {
  margin-top:90px;
}
@media (max-width: 767px) {
  .elementor-col-100-home {
    display: block;
  }
  .fullwidth {
    height: 100%;
  }
  .case-study
  {
    padding-bottom:50px;
  }
  .about-key-areas .elementor-column-wrap {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .key-areas-content li
  {
    width:100%!important;
  }
  .key-areas
  {
    margin:0px;
    padding:0px;
  }
  #section03 {
    height: 1200px;
  }
}
