<section class="mobile_header">
<div class="header-leftbar">
    <ul>
      <li>
        <a routerLink="/">
          <span>
            <img src="/assets/images/2018/12/home-img.png" alt="home-img">
          </span>Home
        </a>
      </li>
      <!--<li>
        <a href="#">
          <span>
            <img src="/assets/images/2018/12/globe-img.png" alt="globe-img">
          </span>EN
        </a>
      </li>-->
    </ul>
  </div>
  <div class="header-rightbar">
    <ul>
      <li><i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;"></i><a href="callto:020 000 000 ">020 000 000 </a></li>
      <li><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 5px;"></i><a href="mailto:hello@reposition.co.uk">hello@reposition.co.uk</a></li>
    </ul>
  <div class="positioning-content" style="padding: 0;text-align: center;">
  <a class="popup" [routerLink]="[]" fragment="genesis-footer-widgets" style="padding: 10px;width: 200px;font-size: 15px;text-transform: none;">Free SEO Analysis</a>
  </div>
  </div>
</section>
