<app-category-section></app-category-section>
<div class="site-inner">
  <section id="primary" class="site-content">
    <div id="content" role="main">
      <div class="categories-post-con">
        <header class="archive-header">
          <h2 class="archive-title">Category: SEO</h2>
        </header><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/is-seo-really-necessary-for-medical-websites/index.html"></a>
            </div><h2>
              <a href="../../seo/is-seo-really-necessary-for-medical-websites/index.html" rel="bookmark" title="Permanent Link to Is SEO Really Necessary for Medical Websites?">Is SEO Really Necessary for Medical Websites?</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>February 21, 2019</span>
            </div><div class="content-blog-post">Across the globe, people are turning to the web to find the right GP, medical products, advice and more. Many healthcare startups are finding this.</div>
            <a href="../../seo/is-seo-really-necessary-for-medical-websites/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/the-medical-seo-tips-that-will-get-more-patients-on-the-phone/index.html"></a>
            </div><h2>
              <a href="../../seo/the-medical-seo-tips-that-will-get-more-patients-on-the-phone/index.html" rel="bookmark" title="Permanent Link to The Medical SEO Tips That Will Get More Patients On the Phone">The Medical SEO Tips That Will Get More Patients On the Phone</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>February 21, 2019</span>
            </div><div class="content-blog-post">Many healthcare practices today have a serious problem - they want patients to notice them. For years the medical industry has simply had patients appear.</div>
            <a href="../../seo/the-medical-seo-tips-that-will-get-more-patients-on-the-phone/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/ymyl/index.html"></a>
            </div><h2>
              <a href="../../seo/ymyl/index.html" rel="bookmark" title="Permanent Link to YMYL: A Google Acronym Every Financial Industry Professional Needs to Know During Optimization">YMYL: A Google Acronym Every Financial Industry Professional Needs to Know During Optimization</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>February 21, 2019</span>
            </div><div class="content-blog-post">Google's algorithm is constantly changing for a number of reasons. The primary one is to help users better connect with the content they need. Another.</div>
            <a href="../../seo/ymyl/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/a-complete-guide-to-landing-page-optimisation/index.html"></a>
            </div><h2>
              <a href="../../seo/a-complete-guide-to-landing-page-optimisation/index.html" rel="bookmark" title="Permanent Link to A Complete Guide to Landing Page Optimisation">A Complete Guide to Landing Page Optimisation</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>February 21, 2019</span>
            </div><div class="content-blog-post">Struggling with your landing page bounce rate? You're not alone. For many businesses, decreasing that one number can be the most frustrating part of the.</div>
            <a href="../../seo/a-complete-guide-to-landing-page-optimisation/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/4-essential-seo-tips-for-small-business-websites/index.html"></a>
            </div><h2>
              <a href="../../seo/4-essential-seo-tips-for-small-business-websites/index.html" rel="bookmark" title="Permanent Link to 4 Essential SEO Tips for Small Business Websites">4 Essential SEO Tips for Small Business Websites</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>February 21, 2019</span>
            </div><div class="content-blog-post">According to a study by research firm Clutch, 29% of small businesses don't have a website at all. Of those that do have a website,.</div>
            <a href="../../seo/4-essential-seo-tips-for-small-business-websites/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/3-things-you-should-optimize-first-in-your-magento-seo-efforts/index.html"></a>
            </div><h2>
              <a href="../../seo/3-things-you-should-optimize-first-in-your-magento-seo-efforts/index.html" rel="bookmark" title="Permanent Link to 3 Things You Should Optimize First In Your Magento SEO Efforts">3 Things You Should Optimize First In Your Magento SEO Efforts</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>February 21, 2019</span>
            </div><div class="content-blog-post">Magento is easily one of the fastest growing e-commerce platforms on the planet today and for good reason. This open-source powerhouse is innovative, completely customizable,.</div>
            <a href="../../seo/3-things-you-should-optimize-first-in-your-magento-seo-efforts/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/what-are-rich-snippets-how-can-they-help-boost-performance/index.html">
                <img width="600" height="400" src="../../wp-content/uploads/2019/01/postthumb-3-600x400.png" class="attachment-full size-full wp-post-image" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2019/01/postthumb-3-600x400.png 600w, https://www.reposition.co.uk/wp-content/uploads/2019/01/postthumb-3-600x400-300x200.png 300w" sizes="(max-width: 600px) 100vw, 600px" />
              </a>
            </div><h2>
              <a href="../../seo/what-are-rich-snippets-how-can-they-help-boost-performance/index.html" rel="bookmark" title="Permanent Link to What are Rich Snippets – &#038; How Can They Help Boost Performance?">What are Rich Snippets – &#038; How Can They Help Boost Performance?</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>January 2, 2019</span>
            </div><div class="content-blog-post">If you're wondering what the bacon butty has to do with rich snippets… well, nothing. Or everything? If you were to search for the term,.</div>
            <a href="../../seo/what-are-rich-snippets-how-can-they-help-boost-performance/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/speed-matters-why-and-how-to-boost-your-website-speed/index.html">
                <img width="600" height="400" src="../../wp-content/uploads/2019/01/gauge-152570_640-600x400.png" class="attachment-full size-full wp-post-image" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2019/01/gauge-152570_640-600x400.png 600w, https://www.reposition.co.uk/wp-content/uploads/2019/01/gauge-152570_640-600x400-300x200.png 300w" sizes="(max-width: 600px) 100vw, 600px" />
              </a>
            </div><h2>
              <a href="../../seo/speed-matters-why-and-how-to-boost-your-website-speed/index.html" rel="bookmark" title="Permanent Link to Speed Matters: Why and How to Boost Your Website Speed">Speed Matters: Why and How to Boost Your Website Speed</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>January 2, 2019</span>
            </div><div class="content-blog-post">Remember the good old dialup days? You'd type in your URL and wait. And wait. And wait. Today's internet users expert sites to load in.</div>
            <a href="../../seo/speed-matters-why-and-how-to-boost-your-website-speed/index.html" class="more_btn">Read More</a>
          </div>
        </div><div class="category-outer">
          <div class="category-inner">
            <div class="post-image">
              <a href="../../seo/3-easy-on-page-seo-techniques-you-need-to-incorporate-into-your-strategy-today/index.html">
                <img width="600" height="400" src="../../wp-content/uploads/2019/01/seo-600x400.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://www.reposition.co.uk/wp-content/uploads/2019/01/seo-600x400.jpg 600w, https://www.reposition.co.uk/wp-content/uploads/2019/01/seo-600x400-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" />
              </a>
            </div><h2>
              <a href="../../seo/3-easy-on-page-seo-techniques-you-need-to-incorporate-into-your-strategy-today/index.html" rel="bookmark" title="Permanent Link to 3 Easy On-Page SEO Techniques You Need to Incorporate Into Your Strategy Today">3 Easy On-Page SEO Techniques You Need to Incorporate Into Your Strategy Today</a>
            </h2><div class="date_format">
              <span class="entry-date"><strong>Published on : </strong>January 2, 2019</span>
            </div><div class="content-blog-post">Despite what you have heard (for years) to the contrary, SEO is not dead. Far from. Even in the age of social media and content.</div>
            <a href="../../seo/3-easy-on-page-seo-techniques-you-need-to-incorporate-into-your-strategy-today/index.html" class="more_btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
