<div class="site-inner">
  <div data-elementor-type="post" data-elementor-id="544" class="elementor elementor-544" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section data-id="36804d5" class="elementor-element elementor-element-36804d5 seo-top-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="9fafbf4" class="elementor-element elementor-element-9fafbf4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7ed3fac" class="elementor-element elementor-element-7ed3fac elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer">
                          <h2>Web Design Services</h2>
                          <h3>We combine attractive layout design with intelligent architecture and SEO friendly features to offer you the best possible website for your business.</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="d2c8740" class="elementor-element elementor-element-d2c8740 higher-rank elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="2db0c38" class="elementor-element elementor-element-2db0c38 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7593f73" class="elementor-element elementor-element-7593f73 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left">
                          <h3>Building a Presence</h3>
                          <p>Web design is about so much more than creating an online space where customers can find you. Instead, it's about building a presence, customised to your company. At Reposition, we'll help you create a modern design that truly represents your company. Combining great design with all the right SEO elements, our sites bring value to both you and your customers. We'll create a presence that truly reflects your brand.</p>
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-id="9f1c6a9" class="elementor-element elementor-element-9f1c6a9 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="51c95fa" class="elementor-element elementor-element-51c95fa elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left seo-service-right">
                          <h3>
                            Creative Quality Design
                          </h3>
                          <p>Colours, fonts, positions, all of these factor into the best designs, and we'll interweave each component carefully into your site. We're not just trying to make things look pretty. Instead, we're basing every element on analytics, conversions, and better user experience. While we'll certainly factor in aesthetics customers will love, the driving force behind our work means ensuring search engines and customers understand your brand and why it's an industry essential.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="bc8f90e" class="elementor-element elementor-element-bc8f90e dominate-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="0ddd007" class="elementor-element elementor-element-0ddd007 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="c7dfd22" class="elementor-element elementor-element-c7dfd22 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-service-outer seo-service-left conversion-rate-CRO">
                          <h3>Smooth Functionality</h3>
                          <p>
                            It takes seconds for people to form an opinion about your site, and much of their decision making process relies on how well it functions. A website that performs well is one that creates trust and credibility. It means fewer frustrated visitors and a clearly communicated purpose from the outset.
                            <h3>
                              Optimised for Success
                            </h3>
                          <p>Your site's design will certainly affect its performance in terms of optimisation, and we work to ensure both customers and spiders can navigate your site easily. With strong architecture at the outset and better content that will get you noticed, our sites come ready for search engines from the moment they're released.</p>
                          <p>At Reposition, functionality defines our designs. Our sites look great, but the heart of what we do is create sites that are founded in the best design, functionality, and optimisation practices so you'll see results sooner. Every design we build starts with a closer look at your customers and what they're looking for so we can create that experience from the start.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-id="ac28182" class="elementor-element elementor-element-ac28182 iphone-right elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="7a83f09" class="elementor-element elementor-element-7a83f09 elementor-widget elementor-widget-image" data-element_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="265" height="540" src="/assets/images/2018/12/iphone-img.png" class="attachment-large size-large" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="30061d6" class="elementor-element elementor-element-30061d6 elementor-section-stretched project-analysis-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="42e0621" class="elementor-element elementor-element-42e0621 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="fea57f6" class="elementor-element elementor-element-fea57f6 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="purse-tried seo-service-projects">
                          <ul>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic01.png" alt="seo-service-pic">
                                </span><h2>Responsive Design</h2><p>Screens abound today, and if your site doesn't perform well on a mobile device or tablet, you could have an issue. Our work addresses the prevalence of mobile devices. All of our designs are responsive, so they change automatically based on the device to create a positive UX no matter what screen your customers use.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic02.png" alt="seo-service-pic">
                                </span><h2>Fast, Clean User Experience</h2><p>Your site's performance for every user on the web defines whether they're likely to buy from you or even return. We look at every component of user experience including layout, hierarchy, page load time, and ease of use to help build trust in your brand.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic03.png" alt="seo-service-pic">
                                </span><h2>Easy Updates</h2><p>Your business will change with time, and your website should too. Every one of our designs is easy to update and change so you have a look and feel that continually represents your company, your products, and your customers.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic04.png" alt="seo-service-pic">
                                </span><h2>Better Content</h2><p>Ranking well means better content, and all of our designs incorporate high quality, unique content that is designed to attract more customers and build your authority. We make sure that your content and design work well together to help attract search engines and new customers alike.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic05.png" alt="seo-service-pic">
                                </span><h2>Custom Designs</h2><p>Cookie cutter designs aren't enough for your business to attract new customers. At Reposition, everything we build is unique to our customers, and that translates to a "Wow" factor template designs just can't match. We evaluate your company from the start, which helps better represent your company.</p>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span>
                                  <img src="/assets/images/2018/12/seo-service-pic06.png" alt="seo-service-pic">
                                </span><h2>The Right Techniques From the Start</h2><p>SEO, content, the principles of good design - there's so much to balance as you think about doing more business on the web, but we give you the peace of mind you need from the outset. All of our designs consider every possible aspect from day one through launch and on to marketing. We thrive with sophisticated, complex projects, ready for the web.</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="5c7107b" class="elementor-element elementor-element-5c7107b elementor-section-stretched elementor-section-full_width metrics-matter-outer elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="ebc13e9" class="elementor-element elementor-element-ebc13e9 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="4edcbc2" class="elementor-element elementor-element-4edcbc2 metric-report-inner-mg elementor-widget elementor-widget-image" data-element_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="896" height="548" src="/assets/images/2018/12/plain-rating03.png" class="attachment-full size-full" alt="" />
                        </div>
                      </div>
                    </div>
                    <div data-id="9444b35" class="elementor-element elementor-element-9444b35 mobile-laptop-img elementor-widget elementor-widget-image" data-element_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="1067" height="614" src="/assets/images/2018/12/full-laptop-img.png" class="attachment-full size-full" alt="" />
                        </div>
                      </div>
                    </div>
                    <section data-id="6321e03" class="elementor-element elementor-element-6321e03 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div data-id="29e2333" class="elementor-element elementor-element-29e2333 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div data-id="e4a942f" class="elementor-element elementor-element-e4a942f elementor-widget elementor-widget-html" data-element_type="html.default">
                                  <div class="elementor-widget-container">
                                    <div class="seo-service-outer seo-service-left metric-report">
                                      <h3>Getting a New Website Should be Simple</h3>
                                      <p>At Reposition, we make getting a new website a simple process. Schedule a free consultation with our site design experts today and learn just how much a new look could change your business.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section data-id="e792bf9" class="elementor-element elementor-element-e792bf9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div data-id="5e1ef25" class="elementor-element elementor-element-5e1ef25 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div data-id="2b19e17" class="elementor-element elementor-element-2b19e17 elementor-widget elementor-widget-html" data-element_type="html.default">
                      <div class="elementor-widget-container">
                        <div class="seo-campaigns">
                          <h2>
                            94% of negative website feedback was related to design. <br>
                            <strong>Create a modern design with us to build a positive first impression.</strong>
                          </h2><a href="#">enquire now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
