<div class="site-inner">
            <div data-elementor-type="post" data-elementor-id="541" class="elementor elementor-541" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section data-id="36804d5" class="elementor-element elementor-element-36804d5 seo-top-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="9fafbf4" class="elementor-element elementor-element-9fafbf4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="7ed3fac" class="elementor-element elementor-element-7ed3fac elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="seo-service-outer">
                                                            <h1>Online Presence Analysis and SEO Audit</h1>
                                                            <h3>Is your website set up to succeed? Analytics matter, and we can help.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="d2c8740" class="elementor-element elementor-element-d2c8740 higher-rank elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="2db0c38" class="elementor-element elementor-element-2db0c38 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="7593f73" class="elementor-element elementor-element-7593f73 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="seo-service-outer seo-service-left">
                                                            <h3>Get a Full Analysis Now</h3>
                                                            <p>Gain a clear understanding of where you are positioned against your competitors. Find areas of weakness and build a strategy to attack and conquer. It's the perfect research tool before launching any new marketing initiative.</p>
                                                            <p>Our in-depth audit defines obstacles that might be damaging your company's performance, and that can lead to the foundation for better marketing efforts across the board. Our complete analysis means comprehensive suggestions and strategies that can help you start planning for the future on the right foot.</p>
                                                            <p>We work one on one with all of our clients utilising a number of advanced tools and resources to get an accurate picture of your business and the competition. At the end of any audit, you'll get a comprehensive report that includes our findings and our recommendations so you know where to turn next.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-id="9f1c6a9" class="elementor-element elementor-element-9f1c6a9 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="51c95fa" class="elementor-element elementor-element-51c95fa elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="seo-service-outer seo-service-left seo-service-right">
                                                            <h3>Create a Strong Strategy</h3>
                                                            <p>Our reports give you the insights you need to help optimise your entire strategy and increase your performance now.</p>
                                                            <h3>
                                                                SEO Audit
                                                            </h3>
                                                            <p>Our SEO Audits are designed to provide a roadmap to success. Following an in-depth analysis with over a hundred different checkpoints we provide a comprehensive audit full of recommendations.</p>
                                                            <h3>
                                                                Implementation
                                                            </h3>
                                                            <p>
                                                                If you wish to engage with us further we can then work on implementation directly, or provide consultation to your in-house development team - the choice is entirely yours.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="bc8f90e" class="elementor-element elementor-element-bc8f90e dominate-main elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="0ddd007" class="elementor-element elementor-element-0ddd007 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="c7dfd22" class="elementor-element elementor-element-c7dfd22 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="seo-service-outer seo-service-left dominate-content">
                                                            <p>You're looking for real analysis right now, and we can help. With analytics that monitor real-time customer behavior on every single page, a stronger analysis of your market, and a close look at your customers, we'll help you understand what's working and what's not and prioritise those features that are perfect for your business.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-id="ac28182" class="elementor-element elementor-element-ac28182 iphone-right elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="7a83f09" class="elementor-element elementor-element-7a83f09 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="265" height="540" src="https://www.reposition.co.uk/wp-content/uploads/2019/01/iphone-img-free-seo-analysis.png" class="attachment-large size-large" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="30061d6" class="elementor-element elementor-element-30061d6 elementor-section-stretched project-analysis-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="42e0621" class="elementor-element elementor-element-42e0621 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="fea57f6" class="elementor-element elementor-element-fea57f6 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="purse-tried seo-service-projects">
                                                            <ul>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/seo-service-pic01.png" alt="seo-service-pic">
                                                                        </span><h2>Analysis</h2><p>We pride ourselves on providing the most comprehensive SEO analysis available in the market.</p>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/seo-service-pic02.png" alt="seo-service-pic">
                                                                        </span><h2>Results Driven</h2><p>Our team thrives on results. We constantly analyse, implement and measure results.</p>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/seo-service-pic03.png" alt="seo-service-pic">
                                                                        </span><h2>Technology</h2><p>With our own proprietory software and in-house R&D team we confidently navigate the search landscape for you.</p>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/seo-service-pic04.png" alt="seo-service-pic">
                                                                        </span><h2>Support</h2><p>We provide levels of suport to suit your needs. We are happy to take the lead or work more closely with your in-house marketing team.</p>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/seo-service-pic05.png" alt="seo-service-pic">
                                                                        </span><h2>Reporting</h2><p>We provide custom reporting to suit your needs. We are able to adapt to ensure all stakeholders  are taken good care of.</p>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            <img src="https://www.reposition.co.uk/wp-content/uploads/2018/12/seo-service-pic06.png" alt="seo-service-pic">
                                                                        </span><h2>Analytics</h2><p>We will setup and monitor analytics for you, ensuring our work is having a positive impact on your search presence.</p>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="5c7107b" class="elementor-element elementor-element-5c7107b elementor-section-stretched elementor-section-full_width metrics-matter-outer elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="ebc13e9" class="elementor-element elementor-element-ebc13e9 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="4edcbc2" class="elementor-element elementor-element-4edcbc2 metric-report-inner-mg elementor-widget elementor-widget-image" data-element_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="896" height="548" src="https://www.reposition.co.uk/wp-content/uploads/2019/01/Laptop-free-seo.png" class="attachment-full size-full" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="9444b35" class="elementor-element elementor-element-9444b35 mobile-laptop-img elementor-widget elementor-widget-image" data-element_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="1067" height="614" src="https://www.reposition.co.uk/wp-content/uploads/2018/12/full-laptop-img.png" class="attachment-full size-full" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <section data-id="6321e03" class="elementor-element elementor-element-6321e03 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div data-id="29e2333" class="elementor-element elementor-element-29e2333 elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div data-id="e4a942f" class="elementor-element elementor-element-e4a942f elementor-widget elementor-widget-html" data-element_type="html.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="seo-service-outer seo-service-left metric-report">
                                                                                    <h3>Data Driven Results</h3>
                                                                                    <p>SEO is a combination of science and art. Our in-house Advanced SEO Team provide years of experience. Our investment in technology provides data other agencies simply can't compete with.</p>
                                                                                    <p>Our in-house technology drills down into data from your website, analytics and many other sources to provide key insights. We then use this analysis to create the best possible campaigns for all our clients.</p>
                                                                                    <p>Ready for a stronger audit? Contact us today to learn more.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="cbc13f7" class="elementor-element elementor-element-cbc13f7 elementor-section-stretched testimonial-outer elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" >
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="a8d8dd3" class="elementor-element elementor-element-a8d8dd3 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="0b92174" class="elementor-element elementor-element-0b92174 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="seo-testimonial-outer">
                                                            <h2>
                                                                Hundreds of Ecstatic Clients
                                                            </h2>
                                                            <h3>Let us help you get your business online and grow it with passion</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="a134280" class="elementor-element elementor-element-a134280 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        
                                                        <div id="sp-testimonial-free-wrapper-598" class="sp-testimonial-free-wrapper">
                                                            <div class="sp-tfree-config"></div>
                                                            <div id="sp-testimonial-free-598" class="sp-testimonial-free-section tfree-style-theme-one">
                                                              
                                                              <ngx-slick-carousel class="carousel"
                                                                                  #slickModal="slick-carousel"
                                                                                  [config]="slideConfig"
                                                                                  (init)="slickInit($event)">
                                                                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                                                  <div class="sp-testimonial-free-item" itemscope>
                                                                    <div class="sp-testimonial-free">
                                                                      <div itemprop="itemReviewed" itemscope>
                                                                        <meta itemprop="name" content="Testimonials">
                                                                      </div>
                                                                      <div class="sp-tfree-client-image" itemprop="image"><img width="120" height="120" src="{{slide.img}}" class="tfree-client-image wp-post-image" alt="" /></div>
                                                                      <div class="tfree-testimonial-title">
                                                                        <h3>Testimonials</h3>
                                                                      </div>
                                                                      <div class="tfree-client-testimonial" itemprop="reviewBody">
                                                                        <p class="tfree-testimonial-content">“{{slide.review}}”</p>
                                                                      </div>
                                                                      <div itemprop="author" itemscope>
                                                                        <meta itemprop="name" content="Jeffrey Polk	">
                                                                        <h2 class="tfree-client-name">{{slide.name}}</h2>
                                                                      </div>
                                                                      <div class="tfree-client-rating" itemprop="reviewRating" itemscope>
                                                                        <meta itemprop="worstRating" content="1">
                                                                        <meta itemprop="ratingValue" content="5">
                                                                        <meta itemprop="bestRating" content="5"><i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                      </div>
                                                                      <div class="tfree-client-designation">{{slide.designation}}</div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </ngx-slick-carousel>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="e792bf9" class="elementor-element elementor-element-e792bf9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="5e1ef25" class="elementor-element elementor-element-5e1ef25 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="2b19e17" class="elementor-element elementor-element-2b19e17 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="seo-campaigns">
                                                            <h2>
                                                                Our SEO Campaigns Succeed.<br>
                                                                <strong>You deserve the best!</strong>
                                                            </h2><a href="#">enquire now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
